# Define paths to each file to choice destination. Defaults to 'tasks.json' and 'completed_tasks.json' if empty.
[paths]
tasks_file = tasks.json
completed_tasks_file = completed_tasks.json

# Set the number of seconds for 'due soon' notifications and background program execution frequency. Defaults to '60' and '20' seconds respectively.
[notification]
due_soon_threshold = 60
check_frequency_seconds = 20

# Set a choice destination for background program log files. Defaults to 'tasky_log_file.log' if empty.
[Logs]
log_file = tasky_log_file.log

# Set your PushBullet API key
[Pushbullet]
access_token = 

